header {
  display: flex;
  align-items: center;
  gap: 3rem;
  background-color: #a0a0a0;
  padding: 1rem 2rem;

  h1 {
    font-size: clamp(1.25rem, 5vw, 2rem);
    white-space: nowrap;
    text-transform: uppercase;
  }

  nav {
    ul {
      display: flex;
      list-style: none;
      gap: 1.5rem;

      li {
        a {
          cursor: pointer;
          white-space: nowrap;
          font-size: clamp(0.85rem, 4vw, 1.25rem);
          color: black;
          text-decoration: none;
          text-transform: uppercase;
          transition: 325ms color;
          &:hover {
            color: white;
          }
        }
      }
    }
  }
}
