@use "/src/app/shared/styles/mixins";

$form-shadow: 2px 6px 12px rgba(0, 0, 0, 0.5);
$main-color: #a0a0a0;

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  box-shadow: $form-shadow;
  padding: 2rem;
  border-radius: 1rem;

  h1 {
    font-size: clamp(1rem, 5vw, 1.8rem);
    text-transform: uppercase;
  }

  .inputs-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

    .input-container {
      width: 100%;
      position: relative;

      &:last-child {
        grid-column: span 2;
      }

      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        width: 0%;
        height: 5px;
        background-color: #717172;
        transition: width 325ms;
      }

      &:focus-within::before {
        width: 100%;
      }

      .input-style {
        width: 100%;
        border: transparent;
        background-color: #c8c6c6;
        padding: 1rem;
        font-size: clamp(1rem, 5vw, 1.25rem);
        color: white;

        &::placeholder {
          color: white;
          opacity: 0.7;
          text-transform: uppercase;
          transition: 325ms color;
        }

        &:focus::placeholder {
          color: transparent;
        }

        &:focus .input-container::before {
          width: 100%;
        }
      }
    }
  }

  button {
    align-self: flex-end;
    @include mixins.customButtonStyle;
  }
}

@media (width <= 730px) {
  form {
    width: 100%;
  }
}
